body {
    font-family: arial, sans-serif;
}

.container {
    display: grid;
    width: 100%;
    height: 100vh;

    grid-template-rows: 7% 88% 5%;
}

a {
    text-decoration: none;
    margin: 0 15px;
}

a:hover {
    text-decoration: underline;
}

nav {
    display: flex;
    align-items: center;
    justify-content: end;
}

nav a {
    color: rgba(0, 0, 0, 0.87);
    font-size: 13px;
    margin-left: 0px;
}

nav button {
    margin: 0 15px;
    padding: 7px 25px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #1a73e8;
    font-size: 15px;
}

nav button:hover {
    background-color: #2b7de9;
    cursor: pointer;
}

.apps-symbol {
    height: 30px;
    width: 24px;
    background-image: url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
}

.products {
    background-position: -135px 30px;
    position: relative;
}

.products::after {
    content: "";
    background-color: rgba(80, 80, 80, 0.26);
    border-radius: 50%;
    position: absolute;
    width: 45px;
    height: 45px;
    right: -10px;
    top: -7px;
    visibility: hidden;
}

.products:hover::after {
    visibility: visible;
}

#products-anchor {
    margin-right: 0;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 198px;
}

form {
    flex-grow: 1;
    position: relative;
}

.search {
    position: absolute;
    top: 35px;
    left: 10px;
    background-position: -248px 38px;
}

.input-field {
    width: min(80vw, 500px);
    margin-top: 30px;
    padding: 12px;
    padding-left: 35px;
    border-radius: 20px;
    border: 1px solid rgb(220, 220, 220);
}

.input-field:hover {
    box-shadow: 0px 0px 6px rgba(32, 33, 36, 0.28);
}

.btn-container {
    width: 312px;
    margin: 30px auto 0;
}

.btn {
    width: 153px;
    background-color: #f8f9fa;
    padding: 7px 20px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
}

.btn:hover {
    box-shadow: 0px 0px 6px rgba(32, 33, 36, 0.28);
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: rgba(216, 216, 216, 0.356);
}

footer a {
    color: rgb(128, 128, 128);
    font-size: 14px;
}

footer div {
    flex-grow: 1;
}

@media (max-width: 625px) {/*780*/
    .container {
        grid-template-rows: 10% 80% 10%;
    }
    
    footer {
        flex-wrap: wrap;
        justify-content: center;
    }

    footer div {
        flex-grow: 0;
        width: 90vw;
    }
}

@media (max-width: 490px) {
    .container {
        grid-template-rows: 10% 75% 15%;
    }

    footer div {
        visibility: collapse;
    }

    #better-position {
        width: 90vw;
        text-align: center;
    }
}